body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://c1.wallpaperflare.com/preview/1017/338/570/blue-sky-white-cloud.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}