.unit a {
  text-decoration: none;
}

.unit a:active {
  font-weight: bold;
}

.temperature {
  font-weight: 400;
  font-size: 60px;
  color: #03405e;
  line-height: 70px;
  margin-left: 10px;
}

.unit {
  font-size: 16px;
  color: #0972b3;
  font-weight: 300;
  line-height: 1;
  display: flex;
}
