.Weather {
  border: 1px solid #6a93c9;
  padding: 16px;
  border-radius: 5px;
}

.Weather h1 {
  color: #094664;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  color: #0972b3;
  line-height: 19px;
  font-weight: 100;
  list-style: none;
}

.WeatherInfo img {
  display: inline-block;
  position: relative;
  top: -15px;
}
